<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head.ejs'); %>
        <style>
            form {
                margin-left: 50px;
            }

            h1 {
                margin-left: 200px;
            }
        </style>

</head>

<body>

    <head style="margin-bottom:20px;">
        <%- include('./partials/header.ejs') -%>
    </head>
    <form action="http://localhost:3000/api/products/add" method="POST" enctype='multipart/form-data'
        style="padding-top:100px;">
        <h1>Thêm sản phẩm</h1>
        <div class="form-group">
            <label for="exampleFormControlInput1">Product name: </label>
            <input type="text" name="productname" class="form-control" id="exampleFormControlInput1"
                placeholder="product name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1" name="kind">
                <option>cat</option>
                <option>dog</option>
                <option>bird</option>
                <option>food</option>
            </select>
        </div>
        <div class="form-group">
            <p>Price:</p>
            <input type="number" name="price">
        </div>
        <div class="form-group grid-2">
            <label for="exampleFormControlTextarea1">Descreption: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1"> Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>