.detail {
  display: flex;
  width: 100%;
  margin: 0px auto;
  justify-content: space-between;
  margin-top: 40px;
}
.detail .left {
  width: 67%;
}
.detail .left .product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.detail .left .product > img {
  width: 49%;
  height: 300px;
}
.detail .left .price {
  width: 49%;
}
.detail .right {
  width: 30%;
}
.detail .right img {
  width: 49%;
}
.detail .right h3 {
  font-weight: bold;
  color: red;
  padding: 10px 20px;
}
.detail .right ul li {
  display: flex;
  margin: 20px 20px;
}
.detail .right ul li .content {
  padding-left: 7px;
}
.detail .right ul li .content p {
  padding-bottom: 5px;
  font-weight: bold;
}
.detail .right ul li .content span {
  color: red;
}
.detail .right {
  border-left: 1px solid #333;
}
.detail .price h2 {
  font-weight: bold;
  color: red;
  height: 30px;
}
.detail .img {
  padding-right: 20px;
  border-right: 1px solid #333;
}
.detail .price .sale {
  border: 2px dashed #333;
  margin-top: 20px;
}
.detail .price .sale li {
  display: flex;
  padding: 20px 20px;
}

.detail .price .sale li i {
  color: red;
}
.detail .price .sale li p {
  padding-left: 10px;
  font-weight: bold;
}
.sell {
  display: flex;
  margin-top: 20px;
}
.sell input {
  width: 60px;
  height: 30px;
}
.sell button {
  margin-top: 17px;
  height: 30px;
  padding: 5px 15px;
  color: aliceblue;
  background-color: red;
  border-radius: 5px;
}
.description {
  margin-top: 20px;
}
